nav {
  display: flex;
}
a {
  text-decoration: none;
  color: var(--gray);
  padding:10px;
  height: 100px;
  font-size: 20px;
}
nav a:hover, nav a:active   {
    background-color: var(--gray);
    color: var(--black);
    border-radius: 20px;
}